{% extends "sections/_skeleton-content.html" %}

{% block content %}
	<!-- page content here -->
	<div id="project" class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>{{projectName}}</h1>
        <div id="year">
          Year: {{projectYear}}
        </div>

        <div id="projectContent">
          {{projectContent}}
        </div>

        <div id="projectImage">
					<a href="{{projectHyperlink}}"><img src="{{img_path}}{{projectImage}}" alt="{{projectName}}" /></a>
        </div>

        <div id="projectTags">
          Tags: {{projectTags}}
        </div>
			</div>
		</div>
	</div>
{% endblock %}
