<div class="container header">
  <ul id="headerScene" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative;"><li class="layer" data-depth="0.05">
      <header>
        <div class="logo">
          <a href="/"><img src="/images/logo.svg" alt="mauwi" data-pin-nopin="true"></a>
        </div>
        <div class="bigscreen">
          <nav role="navigation">
              <ul class="menu">
                {% for my_page in site.pages %}
                  {% if my_page.title %}
                  <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
          </nav>
        </div>

        <div class="smallscreen">
          <button id="trigger-overlay" type="button">Menu</button>
      		<div class="overlay overlay-hugeinc">
      			<button type="button" class="overlay-close">Close</button>
            <nav role="navigation">
                <ul class="menu">
                  {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
            </nav>
      		</div>
        </div>

      </header>
    </li></ul>
  </div>
