{% extends "sections/_skeleton-content.html" %}

{% set title = "mauwi | 404 Error" %}
{% set keywords = "Product Manager, Web Design" %}
{% set description = "Maurice Wipf: Product Manager @ AFI GmbH & Web Designer" %}

{% block content %}
	<!-- page content here -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>404 Error</h1>
				<iframe src="//giphy.com/embed/9J7tdYltWyXIY?html5=true&hideSocial=true" width="480" height="404" frameborder="0" class="giphy-embed" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>
{% endblock %}
