{% extends "sections/_skeleton-content.html" %}

{% set title = "mauwi | About" %}
{% set keywords = "Product Manager, Web Design" %}
{% set description = "Maurice Wipf: Product Manager @ AFI GmbH & Web Designer" %}

{% block content %}
	<!-- page content here -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>About</h1>
				<ul>
					<li>BWL/Ingenieur-Siamese</li>
					<li>Product Manager</li>
					<li>Lil Data Analyst</li>
					<li>Addicted to Web Design</li>
					<li>Product Hunter</li>
					<li>Futbolista</li>
				</ul>
				<img src="{{img_path}}mauwi.jpg" alt="Maurice Wipf" />
			</div>
		</div>
	</div>
{% endblock %}
