{% extends "sections/_skeleton-content.html" %}

{% set title = "mauwi | Contact" %}
{% set keywords = "Product Manager, Web Design" %}
{% set description = "Angaben zur Kontaktaufnahme mit Maurice Wipf" %}

{% block content %}
	<!-- page content here -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Contact</h1>
				<ul>
					<li><a href="https://twitter.com/mauwi">twitter.com/mauwi</a></li>
					<li><a href="https://github.com/mauricewipf">github.com/mauricewipf</a></li>
					<li><a href="https://medium.com/@mauwi">medium.com/@mauwi</a></li>
					<li><a href="https://www.linkedin.com/pub/maurice-wipf/b0/32/188">linkedin.com/pub/maurice-wipf</a></li>
					<li><a href="https://www.codecademy.com/mauwi">codecademy.com/mauwi</a></li>
					<li><a href="mailto:maurice@gmx.de">maurice@gmx.de</a></li>
					<li>Send me a <a href="https://www.justyo.co/" target="_blank">Yo</a>: MAUWIPF</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
