{% extends "sections/_skeleton-content.html" %}

{% set title = "mauwi | Welcome" %}
{% set keywords = "Product Manager, Web Design" %}
{% set description = "Maurice Wipf: Product Manager @ AFI GmbH & Web Designer" %}

{% block content %}
	<!-- page content here -->
	<div class="container">
		<div class="start-gallery">

			<a href="/about.html">
				<div class="card">
					<div class="card-text">
						<h2>About</h2>
					</div>
					<div class="card-image"><img src="{{img_path}}mauwi3.jpg" alt="About" /></div>
				</div>
			</a>

			<a href="/projects.html">
				<div class="card">
					<div class="card-image"><img src="{{img_path}}justanotherstand.jpg" alt="Projects" /></div>
					<div class="card-text">
						<h2>Projects</h2>
					</div>
				</div>
			</a>

			<a href="/articles.html">
				<div class="card">
					<div class="card-image"><img src="{{img_path}}book.jpg" alt="Articles" /></div>
					<div class="card-text">
						<h2>Articles</h2>
					</div>
				</div>
			</a>

			<a href="/resources.html">
				<div class="card">
					<div class="card-image"><img src="{{img_path}}arboldenavidad.jpg" alt="Resources" /></div>
					<div class="card-text">
						<h2>Resources</h2>
					</div>
				</div>
			</a>

			<a href="/contact.html">
				<div class="card">
					<div class="card-image"><img src="{{img_path}}skull.jpg" alt="Contact" /></div>
					<div class="card-text">
						<h2>Contact</h2>
					</div>
				</div>
			</a>
		</div>
	</div>
{% endblock %}
