{% extends "sections/_skeleton-content.html" %}

{% set title = "mauwi | Projects" %}
{% set keywords = "Product Manager, Web Design" %}
{% set description = "Übersicht der Projekte von Maurice Wipf" %}

{% block content %}
	<!-- page content here -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Projects</h1>
			</div>
		</div>
		<div class="project-gallery">
			<div>
				<h3><a href="./projects/spacex-launches.html">SpaceX Launches Calendar</a></h3>
				<p>A Public Calendar with All Upcoming SpaceX Launches.</p>
				<span class="readmore"><a href="./projects/spacex-launches.html">Read More &gt;</a></span>
				<a href="./projects/spacex-launches.html"><img src="{{img_path}}spacex-launches.jpg" alt="SpaceX-Launches" /></a>
			</div>
			<div>
				<h3><a href="./projects/heyfutureself.html">Heyfutureself</a></h3>
				<p>Send a Message to Your Future Self.</p>
				<span class="readmore"><a href="./projects/heyfutureself.html">Read More &gt;</a></span>
				<a href="./projects/heyfutureself.html"><img src="{{img_path}}heyfutureself.jpg" alt="Heyfutureself" /></a>
			</div>
			<div>
				<h3><a href="./projects/deutschlandcast.html">Deutschlandcast</a></h3>
				<p>Ein wöchentlicher Newsletter mit ausgewählten Themen über Deutschland.</p>
				<span class="readmore"><a href="./projects/deutschlandcast.html">Read More &gt;</a></span>
				<a href="./projects/deutschlandcast.html"><img src="{{img_path}}deutschlandcast.jpg" alt="Deutschlandcast" /></a>
			</div>
			<div>
				<h3><a href="./projects/justanotherstand.html">JustAnotherStand</a></h3>
				<p>Robuster Smartphone-Halter aus Holz.</p>
				<span class="readmore"><a href="./projects/justanotherstand.html">Read More &gt;</a></span>
				<a href="./projects/justanotherstand.html"><img src="{{img_path}}justanotherstand.jpg" alt="JustAnotherStand" /></a>
			</div>
			<div>
				<h3><a href="./projects/mobileswiper.html">MobileSwiper</a></h3>
				<p>iOS-like Option Swiper made with JavaScript.</p>
				<span class="readmore"><a href="./projects/mobileswiper.html">Read More &gt;</a></span>
			</div>
			<div>
				<h3><a href="./projects/mochilazo.html">Mochilazo</a></h3>
				<p>Web-based Travel-Planning App</p>
				<span class="readmore"><a href="./projects/mochilazo.html">Read More &gt;</a></span>
				<a href="./projects/mochilazo.html"><img src="{{img_path}}mochilazo.jpg" alt="Mochilazo" /></a>
			</div>
			<div>
				<h3><a href="./projects/no-meat-app.html">No-Meat App (Mockup)</a></h3>
				<p>Habit-tracking iOS App Mockup</p>
				<span class="readmore"><a href="./projects/no-meat-app.html">Read More &gt;</a></span>
				<a href="./projects/no-meat-app.html"><img src="{{img_path}}no-meat-app.jpg" alt="No Meat App" /></a>
			</div>
			<div>
				<h3><a href="./projects/pierre-dice-website.html">Pierre Dice Website</a></h3>
				<p></p>
				<span class="readmore"><a href="./projects/pierre-dice-website.html">Read More &gt;</a></span>
				<a href="./projects/pierre-dice-website.html"><img src="{{img_path}}pierre-dice-website.jpg" alt="Pierre Dice Website" /></a>
			</div>
		</div>
	</div>
{% endblock %}
