---
layout: default
---

<div id="project" class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{page.title}}</h1>
      <div>
        Release: <span>{{ page.date | date: "%b %-d, %Y" }}</span>
      </div>

      {% if page.projectImage %}
      <div id="projectImage">
        <a href="{{page.projectHyperlink}}"><img src="/images/{{page.projectImage}}" alt="{{page.title}}" /></a>
      </div>
      {% endif %}

      <div id="projectContent">
        {{page.content}}
      </div>

      <div id="projectHyperlink">
        <a href="{{page.projectHyperlink}}">{{page.projectHyperlink}}</a>
        {% if page.projectHyperlink2 %}
            <br>
            <a href="{{page.projectHyperlink2}}">{{page.projectHyperlink2}}</a>
        {% endif %}
    </div>

      <div id="projectTags">
        Tags 
        {% for tag in page.projectTags %}
          <span class="projectTag">{{tag}}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
 