---
layout: default
---

<div id="project" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{page.title}}</h1>
      <div id="year">
        Release: {{ page.date | date: "%b %-d, %Y" }}
      </div>

      {% if page.projectImage %}
      <div id="projectImage">
        <a href="{{page.projectHyperlink}}"><img src="/images/{{page.projectImage}}" alt="{{page.title}}" /></a>
      </div>
      {% endif %}

      <div id="projectContent">
        {{page.content}}
      </div>

      <div id="projectHyperlink">
        <a href="{{page.projectHyperlink}}">{{page.projectHyperlink}}</a>
        {% if page.projectHyperlink2 %}
            <br>
            <a href="{{page.projectHyperlink2}}">{{page.projectHyperlink2}}</a>
        {% endif %}
    </div>

      <div id="projectTags">
        Tags: {{page.projectTags}}
      </div>
    </div>
  </div>
</div>
